<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= `${title} | ${c.SITE_TITLE}` %></title>
    <link rel='stylesheet' href='<%= c.PUBLIC_PATH %>dist/style.css'>
    <link rel="shortcut icon" type="image/png" href="<%= c.PUBLIC_PATH %>images/icons/doughnut.png">
    <meta name="description" content="<%= c.DESCRIPTION %>">
    <meta property="og:url" content="<%= c.SITE_URL %>">
    <meta property="og:site_name" content="<%= c.SITE_TITLE %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= c.SITE_TITLE %>">
    <meta property="og:description" content="<%= c.DESCRIPTION %>">
    <meta property="og:image" content="">
    <meta name="twitter:title" content="<%= c.SITE_TITLE %>">
    <meta name="twitter:description" content="<%= c.DESCRIPTION %>">
    <meta name="twitter:image" content="">
    <meta name="twitter:image:alt" content="">
    <meta name="twitter:site" content="<%= c.SITE_URL %>">
    <meta name='author' content='<%= c.DEVELOPER_NAME %>. <%= c.DEVELOPER_URL %>'>
</head>
