<form action="<%= c.PUBLIC_PATH %>reviews/<%= store._id %>" method="POST" class="reviewer">
    <textarea name="text" placeholder="Did you try this place? Have something to say? Leave a review..."></textarea>
    <div class="reviewer__meta">
        <div class="reviewer__stars">
            <% for(let i = 5; i >= 1; i--) { %>
            <input type="radio" id="star<%= [i] %>" name="rating" value="<%= i %>" required>
            <label for="star<%= [i] %>"><%= i %> Stars</label>
            <% } %>
        </div>
        <input type="submit" class="button" value="Submit Review →">
    </div>
</form>