<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<body>
    <%- include('components/header') %>

    <main>
        <%- include('components/messages') %>
        <h2><%= title %></h2>
        <%- include('components/storeForm') %>
    </main>

    <%- include('components/bottom') %>
</body>
</html>
